* {
    box-sizing: border-box;
}

.div {
    display: flex;
    justify-content: center;

}
.header {
    display: flex;
    justify-content: center;
    background-color: gold;
}

.meniu {
    display: flex;
    justify-content:space-evenly;
    background-color: lightgray;

}
.meniu-mygtukai {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-transform: capitalize;
    color: gold;
    width: 400px;
    height: 60px;
    margin: 10px;
}

 .meniu-mygtukiai {
    display: block;
    text-align: center;
    width: 100%; 
    height: 60px;
    }

.mlink {
    display: block;
    text-align: center;
    border: 2px solid black;
    width: 100%; 
    line-height: 60px;
    background-color: rgb(172, 172, 172);
}

.mlink2 {
    display: block;
    text-align: center;
    width: 100%; 
    line-height: 10px;
}

.img-text-div {

}
    

.content-wraperis {
    display: flex;
    text-decoration:solid;
}

.content-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 10px solid gray;
    background-color: white;
    width: 100%;
    padding: 5px;
}
/*.content-window2 {
    display: flex;
    flex-direction: column;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    width: 100%;
    height: 600px;
    padding: 5px;

} */

.cw-botton {
    display: flex;
    align-items: flex-end;
    background-color: lightgray;
    border: 2px solid black;
    width: 90%;
    padding: 10px;

}

.spider {
    width: 100%;
    height: 300px;
}

.footer {
    display: flex;
    justify-content: center;
    border: 2px solid gray;
    background-color: rgb(230, 200, 68);
    width: 100%;
}

.pastraipos-wraperis {
    display: flex;
}