.pirmas {
    background-color: red;
    width: 20%;
    height: 200px;
    display: inline-block;
    padding-bottom:-5px; 
    margin-bottom: -5px;
    margin-top: -5;
    padding-top: -5; 

}
.antras {
    background-color: green;
    width: 30%;
    height: 180px;
    display: inline-block;
    margin-left: 14%;
    display:inline-block; 
}

.trecias {
    background-color: red;
    width: 20%;
    height: 200px;
    display: inline-block;
    padding-bottom:-5px; 
    margin-bottom: -5px; 
    margin-left:14%;
    margin-top: -5;
    padding-top: -5;

}

.ketvirtas {
    background-color: blue;
    width: 58%;
    height: 180px;
    display: inline-block;
}
.penktas {
    background-color: red;
    width: 20%;
    height: 200px;
    display: inline-block;
    padding-bottom:-5px; 
    margin-bottom: -5px; 
    margin-top: -10;
    padding-top: -10;

}
.nr6 {
    background-color: silid white;
    width: 58%;
    height: 180px;
    display: inline-block;
    vertical-align: top;
}
.nr7 {
    background-color: violet;
    width: 150px;
    height: 150px;
    margin-left: 65px;
    display: inline-block;
    margin-top: 20px;
    
}

.nr8 {
    background-color: green;
    width: 58%;
    height: 180px;
    display: inline-block;
}

.nr9 {
    background-color: violet;
    width: 58%;
    height: 195px;
    display: inline-block;
}
.bnr10 {
    background-color: red;
    width: 20%;
    height: 200px;
    display: inline-block;
    padding-bottom:-5px; 
    margin-bottom: -5px; 
    margin-top: -10;
    padding-top: -10;
}